GROQ_API_KEY=tu_api_key_de_groq
GEE_PROJECT=ecosat-ai
GEE_SERVICE_ACCOUNT=tu-service-account@ecosat-ai.iam.gserviceaccount.com
GEE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"ecosat-ai"}
